<div class="alert-list">

    <div class="toolbar">
        <h2 translate>Alert list</h2>

        <ul class="actions">
            <li>
                <a href="" ng-click="ctrl.reload()" tooltip="{{'Refresh data'|translate}}" tooltip-placement="bottom">
                    <i class="md md-refresh"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="content">

        <div class="card">

            <div class="card-header" ng-if="!ctrl.isStarting">

                <h2>
                    <small ng-if="ctrl.total > 0">{{ctrl.firstRecordNumber}}-{{ctrl.lastRecordNumber}} {{ 'of'| translate }}</small>
                    <small>{{ ctrl.total }} {{ 'records' | translate }}. &nbsp;</small>
                </h2>

            </div>

            <div class="card-body">

                <table ng-table="ctrl.tableParams"
                       class="table table-striped table-hover ng-table"
                       ng-if="ctrl.data.length > 0">

                    <thead>
                    <tr>
                        <th style="width: 50px;">
                            <label class="checkbox">
                                <input name="select" type="checkbox">
                                <i class="input-helper"></i>
                            </label>
                        </th>
                        <th ng-table-sort-header="id">{{'Id'|translate}}</th>
                        <th ng-table-sort-header="title">{{'Title'|translate}}</th>
                        <th ng-table-sort-header="creationDate" class="hidden-xs hidden-sm">{{'Creation date'|translate}}</th>
                        <th ng-table-sort-header="modificationDate" class="hidden-xs hidden-sm">{{'Modification date'|translate}}</th>

                        <th authorize="ALERTER_ALERT_EDIT_FOREIGN, ALERTER_ALERT_EDIT_OWN, ALERTER_ALERT_REMOVE_TEST">
                            {{'Actions'|translate}}
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr ng-repeat="alert in ctrl.data track by alert.id">
                        <td>
                            <div class="row-stripe" ng-if="alert.testMode"></div>
                            <div class="checkbox">
                                <input
                                    name="select"
                                    type="checkbox">
                                <i class="input-helper"></i>
                            </div>
                        </td>

                        <td>
                            <a ng-href="#/alerts/view/{{ ::alert.id }}">{{::alert.id }}</a>
                        </td>

                        <td class="max-w-m">
                            <a ng-href="#/alerts/view/{{ ::alert.id }}">{{alert.title }}</a>
                        </td>

                        <td class="hidden-xs hidden-sm">{{ ::alert.creationDate | dateFormat }}</td>

                        <td class="hidden-xs hidden-sm">{{ alert.modificationDate | dateFormat }}</td>

                        <td authorize="ALERTER_ALERT_EDIT_FOREIGN, ALERTER_ALERT_EDIT_OWN, ALERTER_ALERT_REMOVE_TEST">
                            <button type="button"
                                    class="btn btn-icon list-command"
                                    ng-click="ctrl.edit(alert)"
                                    ng-if="ctrl.hasPermissionToEdit(alert)">
                                <i class="md md-edit"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <h4 ng-if="ctrl.isLoading" class="loading" translate>Loading data...</h4>
                <h4 ng-if="!ctrl.isLoading && (!ctrl.data ||ctrl.data.length <= 0)" class="loading" translate>No data</h4>

            </div>
        </div>
    </div>
</div>
